{{> main}}
<h1 class="mb-4">Contacts</h1>
<div class="row mb-3">
  <div class="col-md-6">
    <form action="/search" method="GET">
      <div class="form-group">
        <input type="text" class="form-control" name="name" placeholder="Filter by name">
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </div>
  <div class="col-md-6">
    <form action="/search" method="GET">
      <div class="form-group">
        <input type="text" class="form-control" name="mobile" placeholder="Filter by mobile number">
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Mobile Number</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {{#each contacts}}
        <tr>
          <td>{{this.name}}</td>
          <td>{{this.mobile}}</td>
          <td>
            <a href="/contacts/{{this._id}}" class="btn btn-sm btn-success">View</a>
            <a href="/contacts/{{this._id}}/edit" class="btn btn-sm btn-primary">Edit</a>
            <form action="/contacts/{{this._id}}?_method=DELETE" method="POST" class="d-inline">
              <button type="submit" class="btn btn-sm btn-danger">Delete</button>
            </form>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
<a href="/contacts/new" class="btn btn-primary">Add New Contact</a>
